---
import FeatureItem from "./FeatureItem.astro";

const {} = Astro.props;
---

<section
  class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-blue-50 dark:bg-slate-800"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <p
      class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
    >
      Fitur Lengkap
    </p>
    <h2
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      Mencakup hampir seluruh aspek
    </h2>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque rem aperiam, eaque ipsa quae.
    </p>
  </div>
  <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
    <div class="space-y-8 sm:px-8">
      <FeatureItem title="Microbiome Identification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="Biodiversity Analysis">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="Whole Genome Analysis">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="Transcriptome Analysis">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="Genotyping by Sequencing">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="Pathogen Identification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
    </div>
    <div class="space-y-8 sm:px-8">
      <FeatureItem title="Gene Expression Analysis">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="SNP Genotyping">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="DNA Extraction">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="DNA Visualization and Qualification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="SNP Amplification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
      <FeatureItem title="CDNA Synthesis">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          sagittis, quam nec venenatis lobortis, mi risus tempus nulla.
        </p>
      </FeatureItem>
    </div>
  </div>
</section>
